.new_univer_15{
    border-radius: 70px;
    width: 550px;
}

.new_univer_1236{
    margin: 25px;
    font-size: 35px;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    text-align: center;
}
.new_univer_op{
    display: grid;
    border-radius: 50px;
    text-align: center;
}
.new_univer_op_b{
    margin: 15px;
    font-size: 30px;
}
.u1200u{
    display: grid;
}
.new_inst{
    display: block;
}

.new_univer_1{
    font-size: 35px;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    text-align: center;
}
.u1200u{
    display: grid;
}
.new_ind {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
