*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-attachment: fixed;
    background-size: cover;
    background-position: center top;
}



.logo_sgu {
    display: flex;
    border-radius: 60vw;
    justify-content: center;
    align-items: center;
}
.zagolovok {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#fireworks-canvas{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    pointer-events: none;
}


h1 {
    display: flex;
    color: rgb(256, 256, 256)
}
.new_inst{
    margin: 45px;
    display: block;
}
.new_univer {
    border-radius: 50px;
    display: block;

}
.new_univer_1{
    font-size: 35px;
    border-radius: 50px;
    height: 40px;
    color: rgb(255, 255, 255);
    text-align: center;
}


.new_univer{
    display: block;
}

button{
    border-radius: 50vw;
    border-width: 0.4vw;
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 2vw rgba(255, 255, 255, 1);
}

button:hover {
    animation: button_1 ease-in-out;
}

button:not(:hover) {
    animation: button_1 0.5s ease-in-out forwards;
}

@keyframes button_1 {
    to {
        box-shadow: 0px 0px 5vw rgba(255, 255, 255, 0.5);
    }
}

.logo_png{
    border-radius: 60vw;
    pointer-events: none;
}


.new_univer_15{
    border-radius: 50px;
    margin: 25px;
    display: block;
}
.new_univer_155{
    display: grid;
    margin: 5px 100px;
}
.new_univer_1236{
    margin: 25px;
    font-size: 35px;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    text-align: center;
}
.new_univer_op{
    margin: 25px 100px;
    display: block;
    border-radius: 50px;
    text-align: center;
}
.new_univer_op_b{
    margin: 15px;
    font-size: 30px;
}
.bacground_2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.u1200u{
    display: grid;
}
.osnov_view{
    display: flex;
    justify-content: center;
    align-items: center;
}
