*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-attachment: fixed;
    background-size: cover;
    background-position: center top;
}

.osnova_glav{
    display: block;
    text-align: center;
}
.button_glav{
    border-radius: 10px;
    margin: 3vw;
}
.logo_sgu {
    display: flex;
    border-radius: 60vw;
    justify-content: center;
    align-items: center;
}
.img_glav{
    width: 100px;
    height: 100px;
}
.zagolovok {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#fireworks-canvas{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    pointer-events: none;
}


h1 {
    display: flex;
    color: rgb(256, 256, 256)
}


.SGU_zagolovok{
    border-radius: 50vw;
}

.button_5{
    border-radius: 50vw;
}

button{
    border-width: 0.4vw;
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 2vw rgba(255, 255, 255, 1);
}

button:hover {
    animation: button_1 ease-in-out;
}

button:not(:hover) {
    animation: button_1 0.5s ease-in-out forwards;
}

@keyframes button_1 {
    to {
        box-shadow: 0px 0px 5vw rgba(255, 255, 255, 0.5);
    }
}

.logo_png{
    border-radius: 60vw;
    pointer-events: none;
}


.bacground_2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4vw;
}

.osnov_view{
    display: flex;
    justify-content: center;
    align-items: center;
}
